* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1366px;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0 auto;

}

header {
    height: 135px;

}

.burger {
    width: 20px;
    height: 20px;
    margin-left: 114px;
    margin-top: 15px;
}

.line_1 {
    width: 18px;
    height: 2px;
    background-color: #BCBFC2;
}

.line_2 {
    width: 14px;
    height: 2px;
    margin-top: 3px;
    background-color: #BCBFC2;
}

.line_3 {
    width: 18px;
    height: 2px;
    margin-top: 3px;
    background-color: #BCBFC2;
}

.section_burger {
    display: flex;

}

.section_text {
    width: 54px;
    height: 20px;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 14px;
    font-weight: bold;
}

.right_line {
    width: 1px;
    height: 50px;
    background-color: #BCBFC2;
    margin-left: 25px;
}

.bottom_line {
    width: 1140px;
    height: 1px;
    background-color: #BCBFC2;
    margin-left: 113px;
}

.searc_icon_text_img {
    display: flex;
}

.icon_search {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 25px;
}

.search_text {
    width: 42px;
    height: 20px;
    margin-top: 15px;
    margin-left: 10px;
    color: #BCBFC2;
}

.subiscripe_img {
    width: 66px;
    height: 44px;
    margin-top: 7px;
    margin-left: 636px;
}

.subscribe_month_text {
    display: block;
}

.subscribe_now_text {
    width: 119px;
    height: 15px;
    margin-top: 11px;
    margin-left: 10px;
    color: #262D33;
    font-size: 12px;
    font-weight: bold;
}

.month_text {
    width: 119px;
    height: 15px;
    margin-left: 10px;
    color: #939699;
    font-size: 12px;
    line-height: 12px;

}

.man_icon {
    width: 20px;
    height: 20px;
}

.man_icon_div {
    display: flex;
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 25px;
}

.sigin_in_text {
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
    margin-left: 10px;
    margin-top: 15px;
}

.statue_of_freedom_div {
    margin-left: 143px;
    display: flex;
}

.statue_of_freedom_img {
    width: 100px;
    height: 84px;
}

.boston_and_new_text {
    width: 250px;
    height: 20px;
    margin-top: 32px;
    margin-left: 15px;
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
}

.unversal_text {
    width: 184px;
    height: 31px;
    margin-top: 22px;
    margin-left: 130px;
    font-size: 36px;
    color: #262D33;
}

.monday_text {
    width: 195px;
    height: 20px;
    margin-top: 32px;
    margin-left: 143px;
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
}

.sun_svg {
    width: 18px;
    height: 18px;
    margin-left: 23px;
    margin-top: 32px;

}

.weather_text {
    width: 44px;
    height: 20px;
    margin-top: 32px;
    margin-left: 10px;
    font-size: 14px;
}

.navbar {
    width: 1366px;
    height: 55px;
    background-color: #262D33;

}

.nav {
    display: flex;
    width: 1366px;
    width: 20px;
    margin-left: 113px;
    gap: 63px;


}

.link {
    text-decoration: none;
    width: 101px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 17px;
}

.link:active {
    color: #4B5157;
}

.sample_main {
    width: 1366px;
    height: 475px;
    background-color: #262D33;
}

.simple_info {
    width: 1140px;
    height: 130px;
    background-color: #30363D;
    border-radius: 10px;
    margin-left: 113px;
    transform: translateY(48px);
}

.song_text_div {
    display: flex;
    width: 1100px;
    height: 75px;
    margin-left: 25px;
    padding-top: 25px;
}

.songs_text {
    width: 154px;
    height: 75px;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 25px;
}

.simple_text {
    width: 154px;
    height: 75px;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 25px;
    margin-left: 25px;
}

.simple_img {
    width: 65px;
    height: 65px;
    margin-left: 15px;
}

.song_height_line {
    width: 1px;
    height: 75px;
    background-color: #4B5157;
    margin-left: 25px;
}

.cliffs_and_fish {
    display: flex;
    width: 1140px;
    height: 570px;
    margin-top: 70px;
    margin-left: 113px;
    background-color: #FFFFFF;
    border-radius: 10px;
}


.benjamin_info {
    background-image: url('../public/landscape_img.png');
    width: 877px;
    height: 570px;
    border-top-left-radius: 10px;
    z-index: 1;
}

.recommended_text {
    width: 213px;
    height: 20px;
    margin-top: 20px;
    margin-left: 25px;
}

.food {
    width: 263px;
    height: 99px;
    margin-top: 20px;
    background-color: #F5F5F5;
    border: 1px solid #D9DADB;
}

.path_img {
    width: 12px;
    height: 20px;
    margin-left: 865px;
}

.food_text {
    color: #3BBDC4;
    margin-top: 17px;
    margin-left: 25px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
}

.for_checken_text {
    width: 213px;
    height: 40px;
    font-size: 14px;
    margin-top: 8px;
    margin-left: 25px;
    line-height: 20px;
    color: #4B5157;
}

.play_icon {
    width: 20px;
    height: 20px;
}

.cars_info {
    width: 263px;
    height: 99px;
    border: 1px solid #D9DADB;
}

.cars_text {
    color: #6E99AE;
    width: 213px;
    height: 15px;
    margin-left: 25px;
    margin-top: 18px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
}

.cars_storm_text {
    width: 213px;
    height: 40px;
    font-size: 14px;
    margin-top: 8px;
    margin-left: 25px;
    line-height: 20px;
    color: #4B5157;
}

.nfl {
    width: 263px;
    height: 99px;
    border: 1px solid #D9DADB;
}

.nfl_text {
    width: 213px;
    height: 15px;
    margin-top: 17px;
    margin-left: 25px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #FFA34D;
    font-size: 12px;
}

.nfl_players_text {
    width: 213px;
    height: 40px;
    margin-top: 8px;
    margin-left: 25px;
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
}
.tech_reviews{
    width: 263px;
}

.tech_text{
    width: 213px;
    height: 15px;
    margin-top: 19px;
    margin-left: 25px;
    color:#3DC47E;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
}

.tech_reviews_text{
    width: 213px;
    height: 40px;
    font-size: 14px;
    margin-left: 25px;
    margin-top: 8px;
    color: #4B5157;
    line-height: 20px;
}
.benjamin_turnir_info{
    display: flex;
    
}
.benjamin_img{
    width: 45px;
    height: 45px;
    margin-left: 55px;
}

.benjamin_name{
    display: flex;
width: 208px;
height: 45px;
margin-top: 55px;
}
.benjamin_text{
    width: 153px;
    height: 20px;
    font-size: 14px;
    margin-top: 8px;
    margin-left: 10px;
    color: #FFFFFF;
    opacity: 85%;
    line-height: 20px;
}

.benjamin_text_traveler{
    width: 153px;
    height: 15px;
    margin-left: 10px;
    opacity: 40%;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}
.destinations{
    width: 208px;
    height: 15px;
    margin-top: 130px;
}
.destinations_text{
    
    margin-left: 55px;
    width:208px;
    height: 15px;
    color: #4592FF;
    font-size: 12px;
    line-height: 15px;
   letter-spacing: 0.5px;
   text-transform: uppercase;
}

.in_southeast{
    width: 598px;
    height: 100px;
    margin-left: 55px;
    margin-top: 25px;
}
.in_southeast_h1{
    width: 598px;
    height: 100px;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
 
}
.read_more_divider{
    display: flex;
    width: 550px;
    height: 50px;
}
.read_more{
    margin-left: 55px;
    margin-top: 45px;
    width: 138px;
    height: 40px;
    background-color: #4592FF;
    border-radius:20px
}
.read_more_text{
    margin-top: 10px;
    margin-left: 25px;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.play_svg{
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-top: 40px;
}
.read_more_divider_text_time{
    display: block;
}
.chalk_text{
    margin-top: 46px;
    margin-left: 10px;
    width: 272px;
    height: 20px;
    opacity: 85%;
    font-size:14px;
    line-height: 20px;
    color: #FFFFFF;
}
.time{
    width: 31px;
    height: 15px;
    font-size: 12px;
    line-height: 15px;
    opacity: 40%;
    color: #FFFFFF;
    margin-top: 2px;
    margin-left: 10px;
}